AUTH0_DOMAIN=
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=  # same as domain but with https:// prefix
DATABASE_URL="postgresql://odin:odin@localhost:5432/odin_book?schema=public"
REDIS_URL=redis://localhost:6379   # will be used in Phase 5
JWT_SECRET=supersecret-local-only
OPENAI_API_KEY=